img {
    margin-top: 20px;
    margin-bottom: 5px;
    border: 2px solid #C08261;
    border-radius: 8px;
    object-fit: cover;
}

.listing {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-right: 10%;
}

.item-description {
    color: #9A3B3B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-bottom: 5px;
}

.item-worth {
    margin-bottom: 20px;
    color: #C08261;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}