/* Navbar.css */
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links a {
    color:  #fcf3ef; /* Text color */
    margin-right: 1em;
    text-decoration: none;
    font-size: 25px;
}

.links a:hover {
    color: #C08261; /* Secondary color */
}

.navbar {
    background-color: #9A3B3B; /* Primary color */
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
}

.title {
    font-weight: bold;
    color:  #fcf3ef;
    display: flex;
    margin: auto;
}

.navbar a {
    color:  #fcf3ef;
    margin-right: 1em;
    text-decoration: none;
}

.logout-button {
    background: none;
    border: none;
    color: #C08261;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #C08261(79, 79%, 76%);
    border-radius: 8px;
}

.nav-logo{
    width: 80px;
    background-image: radial-gradient();
    background-color: #fcf3ef;
    border-radius: 25px;
    margin-top:auto;
    margin-bottom:auto;
}

.thread{
    display: flex;
    flex-direction: row;
}