.App {
  text-align: center;
  background-color: lightgrey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF3E2;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9A3B3B;
  font-family: optima, sans-serif;
}

.App-body {
  background-color: #FFF3E2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9A3B3B;
  font-family: optima, sans-serif;
  
}

.App-link {
  color: #61dafb;
}

.label {
  display: block;
  font-size: larger;
  font-family: optima, sans-serif;
  color: white;
  padding: 5px;
}

.messages {
  display: flex;
  justify-content: center;
}

.error {
  display: block;
  background-color: darkred;
  color: white;
  height: 50px;
  width: fit-content;
  padding: 5px;
}

.sucess{
  display: block;
  background-color: #D9D9D9;
  color: white;
  height: 50px;
  width: fit-content;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.header-links{
  color: #9A3B3B;
  font-family: optima, sans-serif;
}


.input {
  font-size: medium;
  padding: 4px;
  color: #798478;
  width: 300px;
  border-radius: 10px;
}

.input:active{
  font-size: medium;
  padding: 4px;
  color: #798478;
  width: 300px;
  border-radius: 10px;
}

.home-page{
  background-color: #FFF3E2;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #9A3B3B;
  font-family: optima, sans-serif;
}

.userandpass{
  text-align: left;
  margin-left: 5%;
  font-size: medium;
}

.logout-btn{
  background-color: #9A3B3B;
  color: #FFF3E2;
  width:  100px;
  height: 50px;
  font-family: optima, sans-serif;
  margin-top: 10%;
  border-radius: 10px;
  font-weight: bold;

}

.logout-btn:hover{
  background-color: #C08261;
  color: #EAE0CC;
  width:  100px;
  height: 50px;
  font-family: optima, sans-serif;
  margin-top: 10%;
  border-radius: 10px;
  font-weight: bold;
}

.logout-btn:active{
  background-color: #C08261;
  color: #EAE0CC;
  width:  100px;
  height: 50px;
  font-family: optima, sans-serif;
  margin-top: 8%;
  border-radius: 10px;
  font-weight: bold;
}
